
  <!-- ======= Footer ======= -->
  <footer id="footer" style="background-color: rgb(17 86 93); padding: 40px;">
    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <div class="row">
                    <p class="col-lg-4" style="color: white; text-align: center;"> <strong> RIFKAT SAIDJANOV </strong> </p>

                    <p class="col-lg-4" style="text-align: center;">
                        <a href="tel:+998949130808" style="color: white; text-align: center; text-decoration: none"> <strong> +998 94 913 08 08 </strong> </a>
                    </p>

                    <p class="col-lg-4" style="text-align: center;">
                        <a href="https://www.rifkat.uz" style="color: white; text-align: center; text-decoration: none"> <strong> rifkat.uz </strong> </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
  </footer>
<!-- End Footer -->
